{{ template "partials/chat" . }}

<div id="noperm" class="columns">
	<div class="column notif">
		<article class="notification is-link">
			Camera and microphone permissions are needed to join the room.
		</article>
	</div>
</div>

<div id="peers">
	<div class="columns is-multiline" id="videos">
		<div class="column is-6 peer">
			<video id="localVideo" class="video-area mirror" autoplay muted></video>
		</div>
		<div id="noone" class="column is-6 notif">
			<article id="noonein" class="notification is-primary is-light">
				<button class="delete"></button>
				No other streamer is in the room.
			</article>
		</div>
		<div id="nocon" class="column is-6 notif">
			<article class="notification is-danger">
				Connection is closed!<br>
				Please refresh the page.
			</article>
		</div>
	</div>
</div>

<script>
	let RoomWebsocketAddr = "{{.RoomWebsocketAddr}}"
	let ChatWebsocketAddr = "{{.ChatWebsocketAddr}}"
</script>
<script src="/javascript/peer.js"></script>
<script src="/javascript/chat.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>